.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #f5f5f5;
}

.svg-icon circle {
  stroke: #0cf2fa;
  stroke-width: 1;
}

.svg-icon-search {
  transform: rotate(-70deg);
}
.svg-icon-search:hover path {
  fill: #ec1d24;
}

.svg-icon-a {
  font-size: 3rem;
  border-right: 1px solid #393939;
  height: 7rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
  font-family: "roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
}

.header-div, .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-div a, .flex a {
  color: #fff;
}

a {
  text-decoration: none;
}

.logo-img {
  width: 30px;
}

.header-div {
  background-color: #202020;
  height: 6.5rem;
  overflow: hidden;
  padding-left: 16rem;
}
.header-div a:hover {
  color: #ec1d24;
}
.header-div #marvel-logo-top:hover {
  background-color: #fff;
}

nav {
  border-top: 1px solid #393939;
  height: 5rem;
  background-color: #202020;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style-type: none;
  padding: 1rem;
  margin: 0 1rem;
  font-weight: 500;
  font-size: 1.7rem;
}
nav a {
  color: #fff;
}

.nav-item {
  height: 100%;
}

.nav-item:hover a {
  color: #b1b1b1;
}

.nav-item:hover {
  border-bottom: 2px #ec1d24 solid;
}

.marvel-unlimited-nav {
  font-size: 1.7rem;
}

.border-white {
  padding: 3rem;
  border-right: 1px solid #393939;
  border-bottom: 1px solid #393939;
  border-left: 1px solid #393939;
}
.border-white p {
  margin: 0;
}
.border-white h3 {
  margin: 0;
}

.main-big-logo {
  background-color: #ec1d24;
  font-size: 4rem;
  letter-spacing: -4px;
  padding: 1rem;
  font-weight: 900;
  font-family: "roboto", sans-serif;
  font-size: 6rem;
  width: auto;
}

.third-layer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #151515;
  z-index: 5;
  position: sticky;
  top: 1rem;
}

.header-div, nav {
  position: sticky;
  top: 0;
  transition: 0.9s;
}

.header-div {
  z-index: 1;
}

nav {
  z-index: 2;
}

.first-main-part img {
  height: 50vh;
  width: 100%;
  transform: skewY(-1deg);
  position: relative;
  top: -15px;
}
.first-main-part ul {
  background-color: white;
  list-style-type: none;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  top: -3.3rem;
  overflow: hidden;
  height: 8rem;
}
.first-main-part li {
  margin: 0 2rem;
  padding-top: 2rem;
}
.first-main-part a {
  color: black;
}
.first-main-part a:hover {
  color: #ec1d24;
}
.first-main-part #GOTG-launch-li {
  border-top: 4px solid #ec1d24;
}
.first-main-part #GOTG-launch {
  color: #ec1d24;
}
.first-main-part .socialmedia-svg path,
.first-main-part .socialmedia-svg polygon,
.first-main-part .socialmedia-svg rect {
  fill: #b1b1b1;
}
.first-main-part .socialmedia-svg {
  font-size: 2.7rem;
  margin-left: 1rem;
}
.first-main-part .socialmedia-svg:hover path {
  fill: black;
}
.first-main-part .facebook-svg-li {
  margin-left: 6rem;
}

.google-ads {
  width: 50%;
  height: 280px;
  margin: 0 auto;
  background-color: #e6ececc9;
  text-align: center;
}
.google-ads p {
  padding-top: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
}
.google-ads span {
  font-weight: bold;
}
.google-ads .first-google-ads-button {
  outline: none;
  border: none;
  background-color: #4285f5;
  color: white;
  width: 200px;
  font-size: 2rem;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0.5px 0.5px 3px 0px black;
  cursor: pointer;
}
.google-ads .first-google-ads-button:hover {
  background-color: #316dd6;
}
.google-ads .second-google-ads-button {
  outline: none;
  border: none;
  color: #a8c7ea;
  background-color: white;
  width: 200px;
  padding: 1rem;
  border-radius: 2px;
  font-size: 2rem;
  box-shadow: 0.5px 0.5px 3px 0px black;
  cursor: pointer;
}
.google-ads .second-google-ads-button:hover {
  background-color: #f1f1f1;
  color: white;
}

.second-part-img-container, .third-part-img-container {
  width: 100%;
  height: 680px;
  background-color: #151515;
  overflow: hidden;
}
.second-part-img-container > img, .third-part-img-container > img {
  width: 70%;
  height: 680px;
  position: relative;
  left: 300px;
  transform: skew(-3deg);
}
.second-part-img-container .marvel-logo, .third-part-img-container .marvel-logo {
  width: 170px;
  height: 170px;
  display: inline-block;
  position: relative;
  left: -15px;
}
.second-part-img-container .logo-and-links, .second-part-img-container .logo-and-links-third, .third-part-img-container .logo-and-links, .third-part-img-container .logo-and-links-third {
  width: 30%;
  text-align: start;
  position: relative;
  top: 18rem;
  left: 20rem;
}
.second-part-img-container .logo-and-links p, .second-part-img-container .logo-and-links-third p, .third-part-img-container .logo-and-links p, .third-part-img-container .logo-and-links-third p {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.second-part-img-container .logo-and-links button, .second-part-img-container .logo-and-links-third button, .third-part-img-container .logo-and-links button, .third-part-img-container .logo-and-links-third button {
  offset: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
  margin-left: 5rem;
  position: relative;
}
.second-part-img-container .logo-and-links button::before, .second-part-img-container .logo-and-links-third button::before, .third-part-img-container .logo-and-links button::before, .third-part-img-container .logo-and-links-third button::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 100%;
  height: 100%;
}
.second-part-img-container .logo-and-links button::after, .second-part-img-container .logo-and-links-third button::after, .third-part-img-container .logo-and-links button::after, .third-part-img-container .logo-and-links-third button::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 100%;
}
.second-part-img-container .logo-and-links button:hover ::before, .second-part-img-container .logo-and-links-third button:hover ::before, .third-part-img-container .logo-and-links button:hover ::before, .third-part-img-container .logo-and-links-third button:hover ::before {
  border-color: #393939;
}
.second-part-img-container .logo-and-links button:hover, .second-part-img-container .logo-and-links-third button:hover, .third-part-img-container .logo-and-links button:hover, .third-part-img-container .logo-and-links-third button:hover {
  background-color: #ec1d24;
}

.second-main-part-img-btn:hover .marvel-logo {
  background-color: #ec1d24;
  width: 20px;
}

.second-part-widget-container, .third-part-widget-container {
  margin: o auto;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: -5rem;
  overflow: hidden;
}

.second-part-widget-img, .third-part-widget-img {
  min-width: 200px;
  width: 80%;
}

.second-part-widgets-conatiner, .third-part-widgets-container {
  font-size: 2.1rem;
  margin-top: 2rem;
  width: 245%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.second-part-widgets-conatiner h5, .third-part-widgets-container h5 {
  color: #999999;
}
.second-part-widgets-conatiner a, .third-part-widgets-container a {
  color: black;
}
.second-part-widgets-conatiner a:hover, .third-part-widgets-container a:hover {
  color: #ec1d24;
}
.second-part-widgets-conatiner #second-part-widget-last-img-title, .third-part-widgets-container #second-part-widget-last-img-title {
  margin-top: 2rem;
}
.second-part-widgets-conatiner img, .third-part-widgets-container img {
  position: relative;
  transition: transform 0.4s ease;
}
.second-part-widgets-conatiner img:hover, .third-part-widgets-container img:hover {
  transform: scale(1.01);
  opacity: 0.8;
}

.third-part-main {
  margin-top: 11rem;
}

.third-part-widgets-container span {
  color: #999999;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}

.third-part-widgets-title {
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
